<div class="container">
  <form class="card-container" [formGroup]="travelForm">
    <div class="card-list">
      <input type="radio" formControlName="duration" value="asc" />
      Duration(lowest to Highest)
    </div>
    <div class="card-list">
      <input
        type="radio"
        formControlName="duration"
        value="desc"
      />Duration(Highest TO lowest)
    </div>

    <div class="card-list">
      <input type="radio" formControlName="airline" value="asc" />
      Airline(A-Z)
    </div>
    <div class="card-list">
      <input type="radio" formControlName="airline" value="desc" />
      Airline(Z-A)
    </div>

    <button (click)="Submit()">Done</button>
  </form>
</div>
