<div class="container">
  <form [formGroup]="travelForm">
    <div class="card">
      <p>Price Range</p>
      <div class="price-filter-container">
        <div class="form-control w50">
          <label>Minimum Price</label>
          <div>
            <input type="number" formControlName="minPrice" />
          </div>
        </div>
        <div class="form-control w50">
          <label>Maximum Price</label>
          <div>
            <input type="number" formControlName="maxPrice" />
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <p>Booking Class</p>
      <div class="price-filter-container">
        <div *ngFor="let group of types" class="form-control w50">
          <input type="checkbox" value="group.value" /> {{ group.title }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="button-group">
        <button class="reset" (click)="Reset()">Reset</button>

        <button type="submit" [disabled]="!travelForm.valid" (click)="Apply()">
          Apply
        </button>
      </div>
    </div>
  </form>
</div>
